*{
	margin:0px;
	padding:0px;
}
.container{
	background-color: grey;
	margin:0px;
	height:100%;
	color: white;
}
#pomodoro{
	width:400px;
	height: auto;
	margin: auto ;


}
h1{
	text-align: center;
	color:black;
}
#settings{
	background-color: black;
	margin: 5px;
	width:100%;
	height: 100px
}


.section{
	float:left;
	width:50%;
	text-align: center;

}


#section_num{

	font-size: 40px;

}
#clock{
	margin: 5px;
	background-color: black;
	width:100%;
	height: 300px;

	position: relative;
}
#inner_clock{
	width:60%;
	height: 80%;
	margin: auto;
	position: absolute;
	top: 30%;
	left: 20%;
}
.clear{
	clear:both;
}
#main_clock{
	width:100%;
	text-align: center;
}
